<li class="dropdown">
  <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="/about/t11/a">Dylan Eckstein</a></li>
    <li><a href="/about/t11/b">Dalton Francis</a></li>
    <li><a href="/about/t11/c">Elizabeth Pisarek</a></li>
  </ul>
</li>