

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
p {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-family: Courier New, Courier, monospace;
}

footer{
    text-align: center;
}

#vid {
    float: right;
}

#myname {color: #ffffff;
    font-size: 2.5em;
    text-align: center;
    border-width: 5px;
}

#formbutton {
    float: left;
}

#pogo {
    float: right;
}

p.navbutton {font-size: 2.5em;
    text-align: center;
}

p.formtext {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a.btn-lg:hover {
    color: #ffffff;
}
















