<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Dylan Eckstein</title>
<style>
  body {padding-top: 50px;
    background-color: #ffc350;
    text-decoration-color: black;
    font-weight: bold;
    padding-bottom: 20px;}
  p {font-family: Courier New, Courier, monospace;}
  h1 {font-family: Courier New, Courier, monospace;}
  h2 {font-family: Courier New, Courier, monospace;}
  li {font-family: Courier New, Courier, monospace;}
  footerb{text-align: center;}
  #vid {float: right;}
  #myname {color: #ffffff;
      font-size: 2.5em;
      text-align: center;
      border-width: 5px;}
  #formbutton {float: left;}
  #pogo {float: right;}
  p.navbutton {font-size: 2.5em;text-align: center;}
  p.formtext {font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
  a.btn-lg:hover {color: #ffffff;}
</style>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
</head>

<body>
  <% include header.ejs %>
  <h1>Dylan Eckstein</h1>
  <h2>Computer Guy</h2>
  <br><br>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Background</h2>
      <br><br>
    </div>
    <div class="col-md-4">
      <h2>Plans</h2>
      <br><br>
    </div>
    <div class="col-md-4">
        <h2>I like to...</h2>
        <br><br>
        <ul>
        </ul>
    </div>
  </div>
</div>
<div class="container">
  <h2>Contact</h2><br>
  <p></p><br>
</div>
</body>