<li class="dropdown-submenu">
    <a href="#">2017 Fall Web Apps Section 01<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li class="dropdown-submenu">
        <a href="/about/t11">Team 11 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/about/t11/a">Dylan Eckstein</a></li>
          <li><a href="/about/t11/b">Dalton Francis</a></li>
          <li><a href="/about/t11/c">Elizabeth Pisarek</a></li>
        </ul>
      </li>
     
    </ul>
  </li>