<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Elizabeth Pisarek</title>
<style>
  body {padding-top: 50px;
    background-color: #ffc350;
    text-decoration-color: black;
    font-weight: bold;
    padding-bottom: 20px;}
  p {font-family: Courier New, Courier, monospace;}
  h1 {font-family: Courier New, Courier, monospace;}
  h2 {font-family: Courier New, Courier, monospace;}
  li {font-family: Courier New, Courier, monospace;}
  footerb{text-align: center;}
  #vid {float: right;}
  #myname {color: #ffffff;
      font-size: 2.5em;
      text-align: center;
      border-width: 5px;}
  #formbutton {float: left;}
  #pogo {float: right;}
  p.navbutton {font-size: 2.5em;text-align: center;}
  p.formtext {font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
  a.btn-lg:hover {color: #ffffff;}
</style>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
</head>

<body>
  <% include header.ejs %>
  <h1>Elizabeth Pisarek</h1>
  <h2>Web Designer</h2>
  <br><br>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Background</h2>
      <br><br>
      <li>I live in Wentzville, Missouri.</li>
      <li>I study at Northwest Missouri State University.</li>
      <li>I have a Lab/German Shepherd mixed dog and his name is <a href = 
        "https://pisareksoccer22.wixsite.com/episarek/single-post/2017/10/06/Let-me-tell-you-bout-my-Best-Friend" target=
        "_blank">Buddy</a>.</li>
    </div>
    <div class="col-md-4">
      <h2>Plans</h2>
      <br><br>
      <p>I want to be a "work at home" mom and watch my kids grow up so hopefully a web designer/marketer or an IT. </p>
    </div>
    <div class="col-md-4">
        <h2>I like to...</h2>
        <br><br>
        <ul>
         <li>Play soccer</li>
         <li>Spend time with family</li>
         <li>Work out</li>
         <li>Explore the outdoors</li>
         <li>Take photos</li>
        </ul>
    </div>
  </div>
</div>
<div class="container">
  <h2>Contact</h2><br>
  <p>s528849@nwmissouri.edu</p><br>
</div>
</body>