<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dylan Eckstein</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="pics/apple-touch-icon.png">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
      <% include header.ejs %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>HI! I'm Elizabeth Pisarek.</h1>
        <img id="me" src="me.png" class="img-circle" alt="Elizabeth Pisarek"><br><br><br><br><br>
        <p>I am a junior and I plan on graduating next Spring semester with a Bachelor's in IDM:Computer Science.</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Background</h2>
          <p>I was in the Army for 6 years as a 12Y Geospatial Engineer. I have an Associates of Arts and a 
            GIS certificate from Maple Woods Community College. I am from Kearney Missouri.</p>
        </div>
        <div class="col-md-4">
          <h2>Plans</h2>
          <p>I'm not sure where I want to work but I hope I will be able to use both my programming and GIS skills. I like to fix
            problems and make everything more efficient.</p>
        </div>
        <div class="col-md-4">
            <h2>I like to...</h2>
            <ul>
             <li>Learn anything related to science because all science is related</li>
             <li>The outdoors</li>
             <li>Work out</li>
             <li>Edit photos/videos</li>
             <li>Take things apart and see how they work</li>
            </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <h2>Contact</h2><br>
      <p>s525901@nwmissouri.edu</p><br>
      <p>That's all I'm listing because my info isn't anyone's business.</p>
    </div>
      <hr>
      <footer>
        <p>&copy; Dylan Eckstein 2018</p>
      </footer>
<!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>